{% extends "base.html" %}
{% load static %}
{% block title %}Register | Bookify{% endblock %}
{% block content %}
<div class="container ">

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <section class="vh-100">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-12 col-xl-11">
                        <div class="card text-black" style="border-radius: 25px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);">
                            <div class="card-body p-md-5">
                                <div class="row justify-content-center">
                                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
    
                                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">User Info</p>
    
                                        <div class="mx-1 mx-md-4">          
                                            <!-- phone Field -->
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                    <input type="text" id="phone" name="phone" class="form-control"  placeholder='Phone' value='{% if profile.phone %}{{profile}} {% endif %}' />

                                                </div>
                                            </div>
                                            
                                            <!-- address1  Field -->
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                    <input type="text" id="address1" name="address1" class="form-control"   placeholder='Address1' value='{% if profile.address1 %}{{profile.address1}}{% endif %}' />

                                                </div>
                                            </div>
    
                                            <!-- address2 Field -->
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                    <input type="text" id="address2" name="address2" class="form-control"  placeholder='Address2' value='{% if profile.address2 %}{{profile.address2}}{% endif %}'/>

                                                </div>
                                            </div>
    
                                            <!-- state Field -->
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                                <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                    <input type="text" id="state" name="state" class="form-control"  placeholder='State' value='{% if profile.state %}{{profile.state}}{% endif %}'/>
                                                </div>
                                            </div>
    
                                            <!-- city Field -->
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                                <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                    <input type="text" id="city" name="city" class="form-control"  placeholder='City' value='{% if profile.city %}{{profile.city}} {% endif %}'/>
                                                </div>
                                            </div>
    
                                            <!-- pincode Field -->
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                                <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                    <input type="text" id="pincode" name="pincode" class="form-control"  placeholder='Pincode' value='{% if profile.pincode %} {{profile.pincode}} {% endif %}'/>
                                                </div>
                                            </div>
    
                                            <!-- Error Messages -->
                                            {% if form.errors %}
                                                {% for field in form %}
                                                    {% for error in field.errors %}
                                                        <div class="alert alert-danger">{{ error }}</div>
                                                    {% endfor %}
                                                {% endfor %}
                                                {% for error in form.non_field_errors %}
                                                    <div class="alert alert-danger">{{ error }}</div>
                                                {% endfor %}
                                            {% endif %}
    
                                            <!-- Register Button -->
                                            <div class= 'buttons' style='display: flex; height: 80px'>
                                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                <a href="{% url 'update_profile' %}">
                                                <button type="submit" class="btn btn-primary btn-lg">Update</button>
                                            </a>
                                            </div>
                                        
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                        <!-- Replace with your static image path -->
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" 
                                            class="img-fluid" alt="Sample image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    
</div>
{% endblock %}