{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container ">
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
           
          <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Amount Paid</th>
            <th scope="col">Email</th>
            <th scope="col">Date Shipped</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            <tr onclick="location.href='{% url 'order_details' order.id %}';" style="cursor: pointer;">
                <th scope="row">{{ order.id }}</th>
                <td>{{ order.amount_paid }}</td>
                <td>{{ order.email }}</td>
                <td>{{ order.date_shipped }}</td>
            </tr>
        {% endfor %}
    </tbody>
      </table>
      
</div>
<br>
<br>
<br>
{% endblock %}